.clr {
	clear: both;
}

body{
    margin: 0px;
    padding: 0px;
}

.bg{

    /* border: black 5px solid; */
    display: block;
    z-index: -10;
    position: fixed;
    left: 0;
    right: 0;
    background: url('Design/polygon_art_bg-01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /* width: 100vh;*/
    opacity: 12%;
}

.head{
    position: fixed;
    z-index: 10;
    background: url('Design/polygon_art_bg-01.jpg');
    background-size: cover;
    width: 100%;
    margin: 0;
    padding: 0;
}

.bghead{
    border-bottom: black 1.4px solid;
    display: block;
    position: fixed;
    height: 64px;
    left: 0;
    right: 0;
    z-index: -2;
    background-color: gray;
    opacity: 75%;
}

.header{
    z-index: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 64px;
    /* border: 2px solid black; */
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
}

.item{
    /* border: 2px solid black; */
    /* background-color: red; */
    margin: 1px;
    padding: 1px;
    height: 64px;
}

#left{
    text-align: left center;
    padding-left: 5px;
    /* margin-right: auto; */
    font-weight: lighter;
    width: 325px;
    /* border: green 5px solid; */
}

#left img{
    float: left;
    height: 85%;
}

#left h2{
    position: relative;
    margin: 12px 0;
    left: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
}
#right {
    margin-top: 10px;
    padding-left: 10px;
    align-content: right;
    margin-left: auto;
    /* width: 49%; */
    /* border: yellow 5px solid; */
}

#right {
    margin-top: 10px;
    padding-left: 10px;
    align-content: right;
    margin-left: auto;
    /* width: 49%; */
    /* border: yellow 5px solid; */
}

.header ul{
    margin: 11px 0;
    font-size: large;
    display: flex;
    list-style: none;
    align-items: center;
}

.header ul li{
    padding-right: 50px;
    font-weight: lighter;
}

@media (max-width: 992px){
.header ul li{
    padding-right: 12px;
    font-weight: lighter;
}
}


.header a{
    color: black;
    text-decoration: none;
}

.header li a:hover{
    font-weight: bolder;
}

.body{
    position: relative;
    top: 64px;
    display: flex;
    flex-direction: column;
}

.teaser{
    height: 50vh;
    border-style: none;
    box-sizing: border-box;
    border-bottom: 0.75px solid grey;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main{
    width: 80%;
    overflow: hidden;
    z-index: 2;
    margin-bottom: 50px;
    float: left;
    margin-left: 10%;
    margin-right: 10%;
}

.teaser h1{
    font-weight: normal;
    margin-bottom: 50px;
}

.teaser p{
    font-size: large;
    font-weight: lighter;
    color: gray;
}

.content{
    float: left;
    width: 47.5%;
    box-sizing: border-box;
}

.imageright{
    width: 40%;
    float: right;
    margin: 19px;
    position: relative;
    z-index: -1;
}

.footer{
    margin-top: 64.08px;
    position: relative;
    display: flex;
    background-color: lightgray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fleft{
    float: left;
    width: 47.5%;
    box-sizing: border-box;
}

.fright{
    text-align: right;
    position: relative;
    float: right;
    width: 47.5%;
    box-sizing: border-box;
}

.fright i{
    padding: 5px;
    font-size: large;
}

.footer a{
    color: black;
    text-decoration: none;
}

.footer a:hover{
    color: white;
}

.footer .fa
{
    display: inline;
	cursor: pointer;
}
